<%- include('../partials/header') %>

    <div class="shop__container">
    <aside class="option__aside">
        <form class="form__aside">
        <div class="space__option">
                 <label class="title__aside" for="fname">Buscar</label>  
                 <input class="input__aside" placeholder="item o categoria" type="text" id="fname" name="fname">
         </div>  
         <div class="space__option">
            <label  class="title__aside" for="fname">Ordernar Por</label> 
            
            <select  class="input__aside"  name="mayormenor" id="">
                
                <option value="mayorprecio">Mayor precio</option>
                <option value="menorprecio">Menor precio</option>
            
                
            </select>
         </div>
         <div class="space__option">
            <h4  class="title__aside"> PRECIO</h4>
            <div class="space__min-max">
            <label class="second-title_aside" for="">MIN</label>
            <input  class="input-short__aside" placeholder="0" type="text" id="fname" name="fname">
            <P> - </P>
            <label class="second-title_aside" for="">MAX</label>
            <input  class="input-short__aside" placeholder="0" type="text" id="fname" name="fname">
        </div>
         </div>
         <div >
            <h4 class="title__aside">FILTRAR</h4>
            <section class="filter-aside">
                <input  type ="checkbox">
                <label class="second-title_aside">nuevos</label>
    
                <input  type ="checkbox">
                <label class="second-title_aside">ofertas</label>

                <input  type ="checkbox">
                <label class="second-title_aside">edicion especial</label>


                <input  type ="checkbox">
                <label class="second-title_aside">favoritos</label>
            </section>
                
            
         </div>
        
        </form>
      </aside>
      <main>
        <ul class="shop-items">
          <% data.forEach( item => { %>
            <li class="slider__item">
              <article class="card-item">
                <a class="card-item__link" href="/shop/item/<%= item.product_id %>">
                  <picture class="card-item__cover">
                    <span class="card-item__tag">Nuevo</span>
                    <img
                      class="card-item__img--front"
                      src="<%= item.img_front %>"
                      alt="STORMTROOPER"
                    />
                    <img
                      class="card-item__img--back"
                      src="<%= item.img_back %>"
                      alt=""
                    />
                  </picture>
                  <div class="card-item__content">
                    <p class="card-item__licence"><%= item.category_name %></p>
                    <h4 class="card-item__name"><%= item.product_name %></h4>
                    <p class="card-item__price">$ <%= item.product_price %>.-</p>
                    <p class="card-item__promo"><%= item.dues %> CUOTAS SIN INTERÉS </p>
                  </div>
                </a>
              </article>
            </li>
            <% }) %>
        </ul>

        <div class="pagination">
          <ul class="pagination__list">
            <li class="pagination__item">
              <a href="" class="pagination__link chevron-arrows"
                ><iconify-icon
                  icon="ic:sharp-chevron-left"
                  width="33"
                ></iconify-icon
              ></a>
            </li>
            <li class="pagination__item">
              <a href="" class="pagination__link">1</a>
            </li>
            <li class="pagination__item">
              <a href="" class="pagination__link">2</a>
            </li>
            <li class="pagination__item">
              <a href="" class="pagination__link">...</a>
            </li>
            <li class="pagination__item">
              <a href="" class="pagination__link">9</a>
            </li>
            <li class="pagination__item">
              <a href="" class="pagination__link">10</a>
            </li>
            <li class="pagination__item">
              <a href="" class="pagination__link chevron-arrows"
                ><iconify-icon
                  icon="ic:sharp-chevron-left"
                  width="33"
                  rotate="180deg"
                ></iconify-icon
              ></a>
            </li>
          </ul>
        </div>
      </main>
    </div>
    <%- include('../partials/footer') %>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
  </body>
</html>
