<%- include('../partials/header') %>

<section class="admin__container">
    <div class="admin__search">
        <iconify-icon icon="mingcute:search-line" class="search-icon"></iconify-icon><input type="search" name="search"
            class="search-input" placeholder="código, nombre o categoría">
    </div>
    <div class="tbl__col__title">
        <h1 class="tbl__title">LISTADO DE PRODUCTOS</h1>
        <p id="tbl__insert-item">AGREGAR</p>
        <span><a href="/admin/create"><iconify-icon icon="icon-park-solid:add" class="tbl__icon__add"></iconify-icon></a></span>
        
    </div>

    <table class="tbl__items">
        <thead class="tbl__head"></thead>
        <tr class="tbl__row">
            <th class="tbl__item">ID</th>
            <th class="tbl__item">Código</th>
            <th class="tbl__item">Nombre del Producto</th>
            <th class="tbl__item">Categoría</th>
        </tr>

        <% data.forEach(product => {  %>
        <tr class="tbl__row">
            <td class="tbl__item"><%= product.product_id %></td>
            <td class="tbl__item"><%= product.sku %></td>
            <td class="tbl__item"><%= product.product_name %></td>
            <td class="tbl__item"><%= product.category_name %></td>
            <td class="tbl__item tbl__icon__pencil"> <a href="/admin/edit/<%= product.product_id %>"><iconify-icon icon="subway:pencil"> </iconify-icon></a>  </td>
            <td class="tbl__item  tbl__icon__trash"> <form action="/admin/delete/<%= product.product_id %>?_method=DELETE" method="POST" enctype="application/x-www-form-urlencoded"> 
                <button type="submit"><iconify-icon icon="iconamoon:trash-fill"> </iconify-icon></button>
            </form> </td>
            <% }); %>

        </tr>
        </thead>
        <tr class="tbl__row">

        </tr>
    </table>
</section>
<%- include('../partials/footer') %>
<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
<script src="../../js/index.js"></script>
</body>

</html>